.newsfeed {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.newsfeed__container {
  flex: 1;
  background-color: black;
  font-size: 12px;
}

.newsfeed__portfolioValue {
    text-align: left;
}

.newsfeed__portfolioValue h1 {
    margin: 0;
}

.newsfeed__portfolioValue p {
    margin-top: 0;
}